body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f9f3f3;
    margin: 0;
    padding: 0;
}

.span {
    background-color: #f19da8;
    color: #fff;
    padding: 15px;
}

#header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#dropdown-menu{
    cursor: pointer;
    display: inline-block;
    height: 40px;
    line-height: 40px;
    width: 80px;
    vertical-align: middle;
    color: rgb(255, 255, 255);
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    font-size: x-large;
    text-align: center;
}

.dropdown-content{
    cursor: pointer;
    display: none;
    background: rgb(114, 112, 115);
    position: relative;
    min-width: 160px;
    z-index: 1;
    left: 0;
    font-weight: normal;
    font-size: medium;
}

#dropdown-menu li{
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    list-style-type: none;
}

#dropdown-menu ul{
    margin: 0;
    padding: 0;
}

#dropdown-menu:hover .dropdown-content{
    display: block;
}

#dropdown-menu li:hover{
    background:  #f19da8;
}



.dropdown-content a{
    color: white;
    text-decoration: none;
}

.welcome {
    display: flex;
    align-items: center;
}

.text {
    margin-right: 20px;
}

.logout-button {
    background-color: #f19da8;
    color: #fff;
    cursor: pointer;
    border: none;
    border-radius: 25px;
    padding: 10px 20px;
    font-size: 14px;
}

.logout-button:hover {
    background-color: #e07d88;
}

.main {
    padding: 20px;
}


.main h1, .main h2 {
    text-align: left;
    color: #333;
}

.main span2 {
    color: #f19da8;
}

.info {
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    margin-top: 20px;
}

.info p {
    text-align: left;
    color: #333;
}

img{
    border-radius: 100px;
    display: block;
    margin-left: auto;
    margin-right: auto;

}